:root {
  --primary-color: #ffe6bc;
  --secondary-color: #be9878;
  --background-color: #fffaeb;
  --font-color: #333;
  --font-family: "Montserrat", sans-serif;
  --font-secondary: "Quicksand", sans-serif;
  --title-color: #5e4016;
  --title-color-secondary: #8c6e4f;
}
